#!/usr/bin/env bash

export FLASK_APP='vancelle.app:create_app()'
export FLASK_DEBUG='true'
export PYTHONPATH="${PWD:?}/src"
export WERKZEUG_DEBUG_PIN='off'

dotenv '.env'

env_vars_required 'VANCELLE_PLEX_TOKEN'
env_vars_required 'VANCELLE_SECRET_KEY'
env_vars_required 'VANCELLE_SQLALCHEMY_ENGINES_DEFAULT'
env_vars_required 'VANCELLE_STEAM_WEB_API_KEY'
env_vars_required 'VANCELLE_TMDB_API_KEY'
env_vars_required 'VANCELLE_TMDB_READ_ACCESS_TOKEN'
