{% extends 'base.html' %}

{% from "components/layout.html" import header %}
{% from "components/metadata.html" import remote_panel %}
{% from "components/controls.html" import controls_remote %}

{% set details = remote.into_details() %}
{% set title = ["Remote", details.title] %}

{% block content %}
  <section class="block">
    {{ header(details.title, "{} {}".format(remote.info.noun_full, remote.id)) }}
    <div class="columns x-has-fullheight-containers">
      <div class="column">
        {{ remote_panel(remote) }}
      </div>
    </div>
  </section>
{% endblock %}
