{% extends 'base.html' %}

{% from "components/layout.html" import header %}
{% from "components/metadata.html" import panel_details %}
{% from "components/controls.html" import controls_remote %}

{% set details = remote.into_details() %}
{% set title = ["Remote", details.title] %}

{% block content %}
  <section class="block">
    {%- call header(details.title, "{} {}".format(remote.info.noun_full, remote.id)) -%}
      {{ controls_remote(remote, candidate_work=candidate_work) }}
    {% endcall %}
    <div class="columns x-has-fullheight-containers">
      <div class="column">
        {% call panel_details(id=remote.id, details=remote.into_details(), properties=remote.into_properties(), data=remote.data, colour=remote.info.colour) %}
        {% endcall %}
      </div>
    </div>
  </section>
{% endblock %}
