{% extends 'base.html' %}
{% from 'components/layout.html' import header %}
{% from 'components/pagination.html' import pagination %}
{% from 'components/remote/table.html' import table_remotes %}
{% from 'components/metadata.html' import details_combined_title %}

{% set title %}
  {% if work %}
    Link {{ p.a(remote_info.noun_full) }}
  {% else %}
    Search {{ remote_info.source }} for {{ p.a(remote_info.noun) }}
  {% endif %}
{% endset %}

{% set subtitle %}
  {% if work %}
    The {{ remote_info.noun }} will be linked to {{ details_combined_title(work.resolve_details(), work.url_for()) }}
  {% else %}
    Create a new work by importing details from {{ remote_info.source }}
  {% endif %}
{% endset %}

{% block content %}
  {% set id = 'search' %}
  {% set id_count = '{}-results-count'.format(id) %}
  {% set id_input = '{}-input'.format(id) %}
  {% set id_results = '{}-results'.format(id) %}
  {% set id_input = '{}-input'.format(id) %}
  {% set id_submit = '{}-submit'.format(id) %}
  {% set action = url_with(query=None) %}

  <section class="block">
    {% call header(title=title, subtitle=subtitle) %}
      {% if work %}
        <a href="{{ url_with(work_id=None) }}" title="Search without linking to {{ work.resolve_details().title }}" class="delete"></a>
      {% endif %}
    {% endcall %}

    <div class="box">
      <form
        method="get"
        action="{{ action }}"
        hx-get="{{ action }}"
        hx-trigger="input changed delay:500ms from:#{{ id_input }}, search from:#{{ id_input }}"
        hx-swap="innerHTML"
        hx-push-url="true"
        hx-select="#{{ id_results }}"
        hx-target="#{{ id_results }}"
        class="block">
        <input type="hidden" name="work_id" value="{{ work.id if work else '' }}">
        <input type="hidden" name="remote_type" value="{{ remote_type }}">
        <div class="field has-addons">
          <div class="control is-expanded">
            <label for="{{ id_input }}" class="is-hidden">Search</label>
            <input
              id="{{ id_input }}"
              type="text"
              name="query"
              value="{{ query }}"
              placeholder="Title, ID or link"
              class="input">
          </div>
          <div class="control">
            <span id="{{ id_count }}" class="button is-static" hx-swap-oob="true">{{ p.no('result', items.total) }}</span>
          </div>
          <div class="control">
            <button id="{{ id_submit }}" class="button" type="submit" data-loading-class="is-loading" hx-get="{{ action }}" hx-include="#{{ id }}">Search</button>
          </div>
        </div>
      </form>
      <div id="{{ id_results }}" class="block">
        {{ table_remotes(remotes=items, work=work) }}
      </div>
      {{ pagination(items) }}
    </div>
  </section>
{% endblock %}
