@import "bootstrap/scss/functions";

// Replace Bootstrap's initial colour scheme.
// https://getbootstrap.com/docs/5.3/customize/color/
// https://getbootstrap.com/docs/5.3/customize/sass/#maps-and-loops
$amount: 25%;
$blue: darken(#0d6efd, $amount);
$indigo: darken(#6610f2, $amount);
$purple: darken(#6f42c1, $amount);
$pink: darken(#d63384, $amount);
$red: darken(#dc3545, $amount);
$orange: darken(#fd7e14, $amount);
$yellow: darken(#ffc107, $amount);
$green: darken(#198754, $amount);
$teal: darken(#20c997, $amount);
$cyan: darken(#0dcaf0, $amount);

$code-color: $blue;

// TODO? generate bg-$color / text-$color for all colours
// https://getbootstrap.com/docs/5.3/customize/color/#generating-utilities

@import "bootstrap/scss/variables";

//$x: darken($primary-bg-subtle);

// Add some smaller font sizes.
// These are used for cards on the board.
$font-sizes: map-merge($font-sizes, (
        7: $font-size-base * 0.75,
        8: $font-size-base * 0.50,
        9: $font-size-base * 0.25,
));

@import "bootstrap/scss/bootstrap";

@import "ext/bootstrap/scss/type";
@import "ext/bootstrap/scss/card";

@import "vancelle/colours";
@import "vancelle/components/board";
@import "vancelle/typography";
