@import "bootstrap/scss/functions";

// Replace Bootstrap's initial colour scheme.
// https://getbootstrap.com/docs/5.3/customize/color/
// https://getbootstrap.com/docs/5.3/customize/sass/#maps-and-loops
$blue: darken(#0d6efd, 25%);
$code-color: $blue;

// TODO? generate bg-$color / text-$color for all colours
// https://getbootstrap.com/docs/5.3/customize/color/#generating-utilities

@import "bootstrap/scss/variables";

//$x: darken($primary-bg-subtle);

// Add some smaller font sizes.
// These are used for cards on the board.
$font-sizes: map-merge($font-sizes, (
        7: $font-size-base * 0.75,
        8: $font-size-base * 0.50,
        9: $font-size-base * 0.25,
));

@import "bootstrap/scss/bootstrap";

@import "ext/bootstrap-icons/bi";
@import "ext/bootstrap/scss/card";
@import "ext/bootstrap/scss/type";

@import "vancelle/block";
@import "vancelle/colours";
@import "vancelle/components/board";
@import "vancelle/components/panel";
@import "vancelle/components/tabs";
@import "vancelle/typography";
