{% extends "base.html" %}

{% from "components/layout.html" import section %}
{% from 'components/forms.html' import bulma_form_field %}
{% from "components/remote/sources.html" import section_sources %}

{% block content %}
  {{ section_sources(h1=True) }}

  {% call section('Enter details manually', 'Create a new work using the provided details', h1=True) %}
    <div class="box">
      <form
        id="work"
        method="post"
        action=""
        class="block">
        {{ form.csrf_token }}
        <div class="block">
          <div class="columns mb-0">
            <div class="column">
              {{ bulma_form_field(form.type) }}
            </div>
            <div class="column">
              {{ bulma_form_field(form.shelf) }}
            </div>
          </div>

          {{ bulma_form_field(form.title) }}
          {{ bulma_form_field(form.author) }}
          {{ bulma_form_field(form.release_date) }}
          {{ bulma_form_field(form.description) }}

          <div class="columns mb-0">
            <div class="column">
              {{ bulma_form_field(form.cover) }}
            </div>
            <div class="column">
              {{ bulma_form_field(form.background) }}
            </div>
          </div>
        </div>
        <div class="block">
          <div class="field has-text-centered">
            <button class="button is-primary" type="submit">Create work</button>
          </div>
        </div>
      </form>
    </div>
  {% endcall %}
{% endblock %}
