{% extends "base.html" %}

{% from "components/controls.html" import controls_work, controls_remote %}
{% from "components/bulma.html" import search_field %}
{% from "components/layout.html" import header, subheader %}
{% from "components/metadata.html" import panel_details, sources_list, remote_details_panel, work_details_panel %}
{% from "components/record/library_card.html" import panel_library_card %}
{% from "components/work/card_sources.html" import card_sources %}

{% set details = work.resolve_details() %}
{% set title = ["Remote", details.title] %}

{% macro _control_change_shelf(work, details) %}
  <form
    method="post"
    action="{{ url_for('work.shelve', work_id=work.id) }}"
    hx-post="{{ url_for('work.shelve', work_id=work.id) }}"
    hx-trigger="input changed from:find select throttle:1000ms"
    data-loading-target="#shelf-loading"
    class="control">
    {{ form.csrf_token }}
    <div class="field has-addons">
      <div class="control">
        <div id="shelf-loading" class="button is-{{ work.shelf.value }}" data-loading-class="is-loading">
          <span class="icon"><ion-icon name="book-outline"></ion-icon></span>
        </div>
      </div>
      <div class="control">
        {{ form.shelf(placeholder=work.shelf) }}
      </div>
    </div>
    <noscript>
      <div class="field">
        <div class="control">
          <button class="button" type="submit">Change shelf</button>
        </div>
      </div>
    </noscript>
  </form>
{% endmacro %}

{% macro _section_work(work, details) %}
  {% set subtitle %}
    {{ work.info.noun_title }} with details from {{ p.no('remote', work.remotes|length) }}
  {% endset %}

  <section class="block">
    {% call header(details.title, subtitle) %}
      {{ _control_change_shelf(work, details) }}

    {% endcall %}
    <div class="columns x-has-fullheight-containers">
      <div class="column">
        {% call panel_details(id=work.id, details=details, properties=work.into_properties(), data=None) %}
        {% endcall %}
      </div>
      <div class="column">{{ panel_library_card(work=work) }}</div>
    </div>
  </section>
{% endmacro %}


{% set work_details = work.into_details() %}
{% set work_remotes = work.iter_remotes()|list %}

{% block content %}
  {{ _section_work(work, details) }}

  <section class="block">
    {% set subtitle %}
      Details sourced from {{ n('remote', work_remotes|length) }}
      {% if work_details %}
        and manually entered metadata
      {% endif %}
    {% endset %}

    {{ subheader('Details', subtitle) }}

    <div class="columns is-multiline x-has-fullheight-containers">
      {% if work_details %}
        <div class="column is-half">
          {{ work_details_panel(work) }}
        </div>
      {% endif %}

      {% for remote in work_remotes %}
        <div class="column is-half">
          {{ remote_details_panel(remote) }}
        </div>
      {% endfor %}

      <div class="column is-half">
        {{ card_sources(work, details) }}
      </div>
    </div>
  </section>
{% endblock %}
