{% extends 'work/index.html' %}

{% from 'components/layout.html' import header %}
{% from 'components/pagination.html' import pagination %}
{% from 'components/work/work.html' import tag_work_type %}
{% from 'components/metadata.html' import sources_list, details_combined_title, shelf_tag %}

{% block content %}
  <section class="block">
    {{ header("Works", p.no('result', works.total)) }}
    <div class="box">
      <table class="table is-hoverable is-fullwidth">
        <thead>
          <tr>
            <th class="has-text-centered">Type</th>
            <th class="has-text-left">Title</th>
            <th class="has-text-centered">Shelf</th>
            <th class="has-text-centered">Started</th>
            <th class="has-text-centered">Finished</th>
            <th class="has-text-right">Sources</th>
          </tr>
        </thead>
        {% for work in works %}
          {% set details = work.resolve_details() %}
          <tr>
            <td class="has-text-centered">{{ tag_work_type(work) }}</td>
            <td class="has-text-grey" style="width: 50%;">
              {{ details_combined_title(details, href=work.url_for()) }}
            </td>
            <td class="has-text-centered">{{ shelf_tag(work.shelf) }}</td>
            <td class="has-text-centered">{{ work.date_started|date if work.date_started else absent }}</td>
            <td class="has-text-centered">{{ work.date_stopped|date if work.date_stopped else absent }}</td>
            <td class="has-text-right">{{ sources_list(work) }}</td>
          </tr>
        {% endfor %}
      </table>
      {{ pagination(works) }}
    </div>
  </section>
{% endblock %}
