{% extends 'base.html' %}

{% from 'components/bulma.html' import bulma_form_field %}

{% block before %}
  <div class="section has-background-white-bis py-4">
    <div class="container">
      <form action="" method="get" class="is-flex-desktop x-gap-3 is-justify-content-space-between">
        <input type="hidden" name="{{ form.layout.name }}" value="{{ form.layout.data }}">
        <div class="field has-addons is-justify-content-center">
          {% for item_layout, item_title in form.layout.choices %}
            <div class="control">
              <a href="{{ url_with(layout=item_layout) }}" class="button {% if layout == item_layout %}is-primary{% endif %}">{{ item_title }}</a>
            </div>
          {% endfor %}
        </div>
        <div class="field is-grouped">
          <div class="control is-expanded">{{ form.work_type }}</div>
          <div class="control is-expanded">{{ form.shelf }}</div>
        </div>
        <div class="field is-grouped">
          <div class="control is-expanded">{{ form.remote_type }}</div>
        </div>
        <div class="field is-grouped">
          <div class="control is-expanded">{{ form.has_remote }}</div>
        </div>
        <div class="field has-addons is-justify-content-center">
          <div class="control">
            <a class="button is-static">{{ n('result', total) }}</a>
          </div>
          <div class="control">
            <button class="button" type="submit">Filter</button>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
