{% extends 'work/index.html' %}

{% from 'components/work/small_card.html' import small_card %}

{% macro board_card(work, details, colour) %}
  <div class="x-board-card has-background-{{ colour }}-light" title="{{ details }}">
    <div class="x-board-details p-3">
      <p class="title is-7"><a href="{{ work.url_for() }}">{{ details.title|absent }}</a></p>
      <p class="subtitle is-7 mb-1">
        <span title="{{ details.release_date|absent }}">{{ details.release_date.year if details.release_date else absent }}</span>,
        <span>{{ details.author|absent }}</span>
      </p>
      {% set record = work.get_record() %}
      <p class="is-size-7">{{ record.date_started|date if record else absent }}</p>
      <p class="is-size-7">{{ record.date_stopped|date if record else absent }}</p>
    </div>
    <figure class="has-background-{{ colour }}">
      {% if details.cover %}
        <img src="{{ details.cover }}" alt="" loading="lazy" referrerpolicy="no-referrer">
      {% endif %}
    </figure>
  </div>
{% endmacro %}

{% macro board_category(groups, shelf) %}
  {% set items = groups[shelf] %}
  {% if shelf.show_if_empty or items %}
    <div class="x-board-header x-board-{{ shelf.shelves.column }} is-flex is-flex-direction-column is-justify-content-center is-align-items-center has-text-centered">
      <h3 class="title is-4">{{ shelf.title }}</h3>
      <p class="subtitle is-7">{{ shelf.description }}</p>
      <span class="block tag is-size-7 is-{{ shelf.value }}">{{ n('item', items|length) }}</span>
    </div>

    {% for item in items %}
      {% set details = item.resolve_details() %}
      <div class="x-board-item x-board-{{ shelf.shelves.column }}">
        {{ board_card(work=item, details=details, colour=shelf.value) }}
      </div>
    {% else %}
      <div class="x-board-{{ shelf.shelves.column }}"></div>
    {% endfor %}
  {% endif %}
{% endmacro %}

{% macro board(shelves) %}
  <section class="block">
    <div class="x-board">
      {% for shelf in Shelf %}
        {{ board_category(shelves, shelf) }}
      {% endfor %}
    </div>
  </section>
{% endmacro %}

{% block content %}
  {{ board(shelves) }}
{% endblock %}
