{% extends 'work/index.html' %}

{% from 'components/layout.html' import section %}
{% from 'components/pagination.html' import pagination %}
{% from 'components/work/work.html' import work_type_tag %}
{% from 'components/metadata.html' import sources_list, details_combined_title, shelf_tag %}

{% block content %}
  {% call section("Works", p.no('result', works.total), h1=True) %}
    <div class="box">
      <table class="table is-hoverable is-fullwidth">
        <thead>
          <tr>
            <th class="has-text-centered">Type</th>
            <th class="has-text-left">Title</th>
            <th class="has-text-centered">Shelf</th>
            <th class="has-text-centered">Started</th>
            <th class="has-text-centered">Finished</th>
            <th class="has-text-right">Sources</th>
          </tr>
        </thead>
        {% for work in works %}
          {% set details = work.resolve_details() %}
          <tr>
            <td class="has-text-centered">{{ work_type_tag(work) }}</td>
            <td class="has-text-grey" style="width: 50%;">
              {{ details_combined_title(details, href=work.url_for()) }}
            </td>
            <td class="has-text-centered">{{ shelf_tag(details.shelf) }}</td>
            <td class="has-text-centered">{{ work.record.date_started|date }}</td>
            <td class="has-text-centered">{{ work.record.date_stopped|date }}</td>
            <td class="has-text-right">{{ sources_list(work) }}</td>
          </tr>
        {% endfor %}
      </table>
      {{ pagination(works) }}
    </div>
  {% endcall %}
{% endblock %}
