{% extends 'work/index.html' %}

{% from 'components/work/small_card.html' import small_card %}
{% from 'components/work/work.html' import work_type_tag, date_span %}

{% macro board_card(work, details, colour) %}
  <div class="x-board-card has-background-{{ colour }}-light" title="{{ details }}">
    <div class="x-board-details p-3 is-flex is-flex-direction-column is-justify-content-space-between">
      <div>
        <p class="title is-7"><a href="{{ work.url_for() }}">{{ details.title|absent }}</a></p>
        <p class="subtitle is-7 mb-3">
          <span title="{{ details.release_date|absent }}">{{ details.release_date.year if details.release_date else absent }}</span>,
          <span>{{ details.author|absent }}</span>
        </p>
      </div>
      <div>
        <p class="is-size-7">{{ date_span(work.date_started, work.date_stopped) }}</p>
      </div>
    </div>
    <figure class="has-background-{{ colour }}">
      {% if details.cover %}
        <img src="{{ details.cover }}" alt="" loading="lazy" referrerpolicy="no-referrer">
      {% endif %}
    </figure>
  </div>
{% endmacro %}

{% macro board_categories(shelves, active_shelf) %}
  {% for column_shelf in Shelf %}
    {% set items = shelves[column_shelf] %}
    {% if (column_shelf.show_if_empty and active_shelf is none) or items %}
      <div class="x-board-header x-board-{{ column_shelf.shelves.column }} is-flex is-flex-direction-column is-justify-content-center is-align-items-center has-text-centered">
        <h3 class="title is-4">{{ column_shelf.title }}</h3>
        <p class="subtitle is-7">{{ column_shelf.description }}</p>
        <span class="block tag is-size-7 is-{{ column_shelf.value }}">{{ n('item', items|length) }}</span>
      </div>

      {% for item in items %}
        {% set details = item.resolve_details() %}
        <div class="x-board-item x-board-{{ column_shelf.shelves.column }}">
          {{ board_card(work=item, details=details, colour=column_shelf.value) }}
        </div>
      {% else %}
        <div class="x-board-{{ column_shelf.shelves.column }}"></div>
      {% endfor %}
    {% endif %}
  {% endfor %}
{% endmacro %}

{% block content %}
  <section class="block">
    {% if total %}
      <div class="x-board">{{ board_categories(shelves=shelves, active_shelf=shelf) }}</div>
    {% else %}
      <div class="box has-text-centered">No results.</div>
    {% endif %}
  </section>
{% endblock %}
