{% extends 'work/index.html' %}

{% from 'components/layout.html' import header %}
{% from 'components/pagination.html' import pagination %}
{% from 'components/work/work.html' import tag_work_type, span_date %}
{% from 'components/metadata.html' import sources_list, details_title, details_date_and_author, shelf_tag %}


{% block content %}
  <section class="block">
    {{ header("Works", p.no('result', works.total)) }}
    <div class="box">
      <table class="table is-fullwidth">
        <colgroup>
          <col style="width: 100%">
          <col>
          <col>
        </colgroup>
        <tbody>
          {% for work in works %}
            {% set details = work.resolve_details() %}
            {% set record = work.get_record() %}
            <tr>
              <td>
                <a href="{{ work.url_for() }}" class="is-block block">
                  <p class="is-flex is-justify-content-space-between">
                    {{ details_title(details) }}
                  </p>
                  <p class="has-text-grey-light">
                    {{- details_date_and_author(details) -}}
                  </p>
                </a>
              </td>
              <td class="has-text-centered">{{ tag_work_type(work) }}</td>
              <td class="has-text-centered">{{ shelf_tag(work.shelf) }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {{ pagination(works) }}
    </div>
  </section>
{% endblock %}
