// $primary: darken(bulma.$blue, 25%);
$vancelle: #222f6d;

// https://partner.steamgames.com/doc/marketing/branding
$steam-dark: rgb(0, 0, 0);
$steam-light: rgb(255, 255, 255);

// https://www.themoviedb.org/about/logos-attribution?language=en-GB
$tmdb-primary: #0d253f;
$tmdb-secondary: #01b4e4;
$tmdb-tertiary: #90cea1;

$royalroad-dark: #181818;
$royalroad-light: #c2a970;

$openlibrary-primary: #e1dcc5;
$openlibrary-secondary: #02598b;
$openlibrary-tertiary: #333333;

$goodreads-dark: #382110;
$goodreads-light: #f4f1ea;
