{% extends 'base.html' %}

{% from 'components/layout.html' import header, subheader %}
{% from 'components/bulma.html' import bulma_form_field, bulma_checkbox %}
{% from "components/controls.html" import control_record_delete, control_record_restore, control_record_permanently_delete %}

{% set details = record.work.resolve_details() %}
{% set title = ["Update record", details.title] %}

{% set section_title = "Update record" %}
{% set section_subtitle %}
  Record for <a href="{{ url_for('work.detail', work_id=record.work_id) }}">{{ details.title }}</a>
{% endset %}

{% block content %}
  <section class="block">
    {% call header(section_title, section_subtitle) %}
      {% if record.deleted %}
        {{ control_record_permanently_delete(record=record) }}
        {{ control_record_restore(record=record) }}
      {% else %}
        {{ control_record_delete(record=record) }}
      {% endif %}
    {% endcall %}
    <div class="box">
      <form
        id="record"
        method="post"
        action="{{ url_for('record.detail', work_id=record.work_id, record_id=record.id) }}"
        class="block">
        {{ form.csrf_token }}
        <div class="columns mb-0">
          <div class="column">
            {{ bulma_form_field(form.date_started) }}
          </div>
          <div class="column">
            {{ bulma_form_field(form.date_stopped) }}
          </div>
        </div>
        {{ bulma_form_field(form.notes, rows=5, cols=20, autocomplete='off', autocorrect='on', maxlength=256) }}
        <div class="field is-grouped">
          <div class="control">
            <button type="submit" class="button is-primary">Save changes</button>
          </div>
          <div class="control is-flex is-flex-direction-column is-justify-content-center">
            <label class="checkbox">{{ form.date_sync() }} {{ form.date_sync.label.text }}</label>
          </div>
        </div>
      </form>
    </div>
  </section>
{% endblock %}
