{%- macro _ion_icon(icon, text=None, enable_text=True) -%}
  <span class="icon"><ion-icon name="{{ icon }}"></ion-icon></span>
  {%- if text and enable_text -%}<span>{{ text }}</span>{%- endif -%}
{%- endmacro -%}

{% macro _control_post(url, icon, text, title, enable_text = False, classes=None, tabindex=0) %}
  <form action="{{ url }}" method="post" class="control" title="{{ title }}">
    <button type="submit" hx-post="{{ url }}" class="{{ html_classes('button', 'is-small', classes) }}" tabindex="{{ tabindex }}">
      {{- _ion_icon(icon=icon, text=text, enable_text=enable_text) -}}
    </button>
  </form>
{% endmacro %}

{% macro _control_link(url, icon, text, title, enable_text = False, classes=None) %}
  <div class="control" title="{{ title }}">
    <a href="{{ url }}" class="{{ html_classes('button', 'is-small', classes) }}">
      {{- _ion_icon(icon=icon, text=text, enable_text=enable_text) -}}
    </a>
  </div>
{% endmacro %}

{% macro _control_static(icon, text, title, enable_text = False, classes=None) %}
  <div class="control" title="{{ title }}">
    <span class="{{ html_classes('button', 'is-small', 'is-static', classes) }}">
      {{- _ion_icon(icon=icon, text=text, enable_text=enable_text) -}}
    </span>
  </div>
{% endmacro %}

{% macro _control_static_text(text, title, enable_text = False, classes=None) %}
  <div class="control" title="{{ title }}">
    <span class="{{ html_classes('button', 'is-small', 'is-static', classes) }}">
      <span class="icon">
        {{- text -}}
      </span>
    </span>
  </div>
{% endmacro %}

{% macro control_work_detail(work) %}
  {{- _control_link(url=work.url_for(), text="View work", icon="document-text-outline", title="View this work.") -}}
{% endmacro %}

{% macro control_work_update(work, text = True) %}
  {{- _control_link(url=url_for('work.update', work_id=work.id), text="Edit", enable_text=text, icon="pencil-outline", title="Manually edit details of this work.") -}}
{% endmacro %}

{% macro control_work_restore(work, text = True) %}
  {{- _control_post(url=url_for('work.restore', work_id=work.id), text="Restore", enable_text=text, icon="trash-outline", title="Restore this work.", classes=["is-success", "is-light"], tabindex=2) -}}
{% endmacro %}

{% macro control_work_delete(work, text = True) %}
  {{- _control_post(url=url_for('work.delete', work_id=work.id), text="Delete", enable_text=text, icon="trash-outline", title="Delete this work and any attached records and remotes. Confirmation will be required before any data is permanently deleted.", classes=["is-light", "is-danger"], tabindex=3) -}}
{% endmacro %}

{% macro control_work_permanently_delete(work, text = True) %}
  {{- _control_post(url=url_for('work.permanently_delete', work_id=work.id), text="Permanently delete", enable_text=text, icon="trash-outline", title="Permanently delete this work and any attached records and remotes. It will not be possible to recover any details or records of this work.", classes=["is-danger", "is-light"], tabindex=4) -}}
{% endmacro %}

{% macro control_remote_detail(remote) %}
  {{- _control_link(url=remote.url_for(work=None), text="View remote", icon="document-text-outline", title="View this remote data.") -}}
{% endmacro %}

{% macro control_remote_delete(remote) %}
  {%- set url = url_for("remote.delete", work_id=remote.work_id, remote_type=remote.type, remote_id=remote.id) -%}
  {{- _control_post(url=url, text="Delete", icon="trash-outline", title="Delete this remote data. You will be able to restore it.", tabindex=2) -}}
{% endmacro %}

{% macro control_remote_restore(remote) %}
  {%- set url = url_for("remote.restore", work_id=remote.work_id, remote_type=remote.type, remote_id=remote.id) -%}
  {{- _control_post(url=url, text="Restore", icon="trash-outline", classes=["is-success", "is-light"], title="Restore this remote data.", tabindex=3) -}}
{% endmacro %}

{% macro control_remote_permanently_delete(remote) %}
  {%- set url = url_for("remote.permanently_delete", work_id=remote.work_id, remote_type=remote.type, remote_id=remote.id) -%}
  {{- _control_post(url=url, text="Permanently delete", icon="trash-outline", classes=["is-danger", "is-light"], title="Delete this remote data. It will not be possible to recover these details without fetching them from the original source.", tabindex=4) -}}
{% endmacro %}

{%- macro control_remote_refresh(remote) -%}
  {%- if remote.info.can_refresh and remote.work_id -%}
    {%- set url = url_for("remote.refresh", work_id=remote.work_id, remote_type=remote.type, remote_id=remote.id) -%}
    {{- _control_post(url=url, text="Refresh", icon="refresh-outline", title="Update this remote data from it's source.", tabindex=1) -}}
  {%- endif -%}
{%- endmacro -%}

{% macro control_remote_work(remote) %}
  {{- _control_link(url=remote.work.url_for(), text="View linked work", icon="document-text-outline", title="View the work linked to this remote.", classes=['is-primary']) -}}
{% endmacro %}

{% macro control_remote_link_work(remote, work, classes=None) %}
  {%- set url = url_for("remote.link_work", work_id=work.id, remote_type=remote.type, remote_id=remote.id) -%}
  {%- set details = work.resolve_details() -%}
  {%- set text -%}
    Link work to <em>{{ details.title }}</em>
  {%- endset -%}
  {%- set title -%}
    Link work to "{{ details.title }}".
  {%- endset -%}
  {{- _control_post(url=url, text=text, icon="add-outline", classes=["is-success", classes], title=title, tabindex=1, enable_text=True) -}}
{% endmacro %}

{% macro control_remote_create_work(remote, classes=None) %}
  {%- set url = url_for("remote.create_work", remote_type=remote.type, remote_id=remote.id) -%}
  {{- _control_post(url=url, text="Create work", icon="add-outline", classes=['is-primary', classes], title="Create a new work linked to this remote.", tabindex=1, enable_text=True) -}}
{% endmacro %}

{% macro control_remote_has_cover(remote, details=None) %}
  {%- if (details or remote.into_details()).cover -%}
    {{- _control_static(icon='document-outline', text=None, title='Remote data includes cover', classes=["is-small"]) -}}
  {%- endif -%}
{% endmacro %}

{% macro control_remote_priority(remote) %}
  {{- _control_static_text(text=remote.info.priority, title="Priority for details from {}".format(remote.info.source)) -}}
{% endmacro %}

{% macro control_record_delete(record) %}
  {%- set url = url_for("record.delete", work_id=record.work_id, record_id=record.id) -%}
  {{- _control_post(url=url, text="Delete", icon="trash-outline", title="Delete this record. You will be able to restore it.", tabindex=2) -}}
{% endmacro %}

{% macro control_record_restore(record) %}
  {%- set url = url_for("record.restore", work_id=record.work_id, record_id=record.id) -%}
  {{- _control_post(url=url, text="Restore", icon="trash-outline", classes=["is-success", "is-light"], title="Restore this record.", tabindex=3) -}}
{% endmacro %}

{% macro control_record_permanently_delete(record) %}
  {%- set url = url_for("record.permanently_delete", work_id=record.work_id, record_id=record.id) -%}
  {{- _control_post(url=url, text="Permanently delete", icon="trash-outline", classes=["is-danger", "is-light"], title="Delete this record. It will not be possible to recover.", tabindex=4) -}}
{% endmacro %}

{%- macro controls_remote(remote, candidate_work=None, show_attached_work=True) -%}
  {% if remote.deleted %}
    {{ control_remote_permanently_delete(remote=remote) }}
    {{ control_remote_restore(remote=remote) }}
  {% elif remote.work %}
    {% if show_attached_work %}
      {{ control_remote_work(remote=remote) }}
    {% endif %}
    {{ control_remote_refresh(remote=remote) }}
    {{ control_remote_delete(remote=remote) }}
  {% elif candidate_work %}
    {{ control_remote_link_work(remote=remote, work=candidate_work) }}
  {% else %}
    {{ control_remote_create_work(remote=remote) }}
  {% endif %}
  {{ control_remote_detail(remote=remote) }}
  {{ control_remote_priority(remote=remote) }}
{%- endmacro -%}

{% macro controls_work(work) %}
  {% if work.deleted %}
    {{ control_work_permanently_delete(work, False) }}
    {{ control_work_restore(work, False) }}
  {% else %}
    {{ control_work_update(work, False) }}
    {{ control_work_delete(work, False) }}
  {% endif %}
  {{ control_work_detail(work) }}
  {{ _control_static_text(text="∞", title="Priority for manually provided details") }}
{% endmacro %}
