{%- macro _header(title, subtitle=None, controls=None, title_class=None, subtitle_class=None) -%}
  <header class="block">
    <div class="columns">
      <div class="column">
        <div>
          <h1 class="{{ html_classes('title', title_class) }}">{{ title }}</h1>
          {% if subtitle %}
            <p class="{{ html_classes('subtitle', subtitle_class) }}">{{ subtitle }}</p>
          {% endif %}
        </div>
      </div>
      <div class="column">
        {% if caller is defined %}
          <div class="field is-grouped is-grouped-right">
            {{ caller() }}
          </div>
        {% elif controls %}
          <div class="field is-grouped is-grouped-right">
            {{ controls }}
          </div>
        {% endif %}
      </div>
    </div>
  </header>
{%- endmacro -%}

{%- macro header(title, subtitle=None, controls=None) -%}
  {{- _header(title=title, subtitle=subtitle, controls=controls, title_class='is-3', subtitle_class='is-5', caller=caller) -}}
{%- endmacro -%}

{%- macro subheader(title, subtitle=None, controls=None) -%}
  {{- _header(title=title, subtitle=subtitle, controls=controls, title_class='is-4', subtitle_class='is-6', caller=caller) -}}
{%- endmacro -%}
