{% from 'components/layout.html' import section %}
{% from 'components/links.html' import external_link %}

{% macro source_tag(remote) %}
  <span class="tag is-info">{{ remote.info.source }}</span>
{% endmacro %}

{# Display the source for one or more Details #}
{%- macro sources_list(work) -%}
  {%- for remote in work.iter_remotes() -%}
    {{ remote.info.source }}
    {%- if not loop.last %}, {% endif -%}
  {%- else -%}
    {{ absent }}
  {%- endfor -%}
{%- endmacro -%}

{%- macro shelf_tag(shelf) -%}
  <span class="tag has-background-{{ shelf.value }} has-text-{{ shelf.value }}-invert" title="{{ shelf.description }}">{{ shelf.title }}</span>
{%- endmacro -%}

{% macro details_title(details, href=None) %}
  {%- if href -%}
    <a href="{{ href }}">{{ details.title|absent }}</a>
  {%- else -%}
    <span>{{ details.title|absent }}</span>
  {%- endif -%}
{% endmacro %}

{%- macro details_date_and_author(details) -%}
  <span title="{{ details.release_date|absent }}">{{ details.release_date.year if details.release_date else absent }}</span>,
  <span title="{{ details.author|absent }}">{{ details.author if details.author else absent }}</span>
{%- endmacro -%}

{% macro details_combined_title(details, href = None) %}
  {{ details_title(details, href=href) }}
  {% if details.author or details.release_date -%}
    <span class="has-text-grey">({{ details_date_and_author(details) }})</span>
  {%- endif -%}
{% endmacro %}

{%- macro _style_background_image(details) -%}
  {%- if details.background -%}
    style="background-image: url('{{ details.background }}');"
  {%- endif -%}
{%- endmacro -%}

{% macro panel_details_partial(details, title, colour="primary") %}
  <div class="panel is-{{ colour }}">
    <div class="panel-heading x-background" {{ _style_background_image(details) }}>{{ title }}</div>
    <div>{{ caller() }}</div>
  </div>
{% endmacro %}

{% macro panel_details(details, href, colour="primary") %}
  <div class="panel is-{{ colour }} x-details">
    <div class="panel-heading x-background" {{ _style_background_image(details) }}></div>
    <figure class="x-cover has-background-{{ colour }}-dark">
      {%- if details.cover -%}
        <img src="{{ details.cover }}" alt="" loading="lazy" referrerpolicy="no-referrer">
      {%- endif -%}
    </figure>
    <div class="x-title">
      <h3 class="title is-4">{{ details_title(details) }}</h3>
      <p class="subtitle is-6">{{ details_date_and_author(details) }}</p>
      <p class="block">
        {% if details.shelf %}
          {{ shelf_tag(details.shelf) }}
        {% endif %}
        {% if details.tags %}
          {% for tag in details.tags|default([], tre) %}
            <span class="tag">{{ tag }}</span>
          {% endfor %}
        {% endif %}
      </p>
      {% if caller is defined %}
        <p class="block">
          {{ caller() }}
        </p>
      {% endif %}
    </div>
    {% if details.description %}
      <div class="x-description has-background-white-bis">
        <p>{{ details.description|escape }}</p>
      </div>
    {% endif %}
  </div>
{% endmacro %}

{%- macro list_property(property) -%}
  {{ p.join(property.items|map('string')|list) if property else absent }}
{%- endmacro -%}

{% macro _property_name(property) %}
  <span class="has-text-weight-bold">{{ property.name }}</span>
{% endmacro %}

{% macro _property_value(property) %}
  {{ property|safe }}
{% endmacro %}

{% macro _properties(properties) %}
  {% for property in properties %}
    {% if property %}
      <div class="panel-block">{{ _property_name(property) }}</div>
      <div class="panel-block">{{ _property_value(property) }}</div>
    {% endif %}
  {% endfor %}
{% endmacro %}

{% macro panel_properties(remote) %}
  {% set details = remote.into_details() %}
  {% set properties = remote.into_properties() %}
  {% set more_properties = remote.more_properties() %}
  <div class="panel is-{{ remote.info.colour }} x-properties">
    <p class="panel-heading x-background" {{ _style_background_image(details) }}>Properties</p>
    <div class="x-properties-grid">
      {{ _properties(properties) }}
      {% if more_properties %}
        <details>
          <summary class="panel-block">More...</summary>
          {{ _properties(more_properties) }}
        </details>
      {% endif %}
      {% if remote.data %}
        <details>
          <summary class="panel-block">Data...</summary>
          <div class="x-properties-grid-json"><pre><code>{{ remote.data|tojson(indent=2) }}</code></pre></div>
        </details>
      {% endif %}
    </div>
  </div>
{% endmacro %}
