{% macro navbar_divider() %}
  <hr class="navbar-divider">
{% endmacro %}

{% macro navbar_group(name, endpoint, dropdown_classes = '') %}
  <div class="navbar-item has-dropdown is-hoverable">
    <a href="{{ url_for(endpoint, **kwargs) }}" class="navbar-link">{{ name }}</a>
    <div class="navbar-dropdown {{ dropdown_classes }}">
      {{ caller() }}
    </div>
  </div>
{% endmacro %}

{% macro navbar_item(name, endpoint) %}
  <a href="{{ url_for(endpoint, **kwargs) }}" class="navbar-item {{ 'is-active' if url_is_active(endpoint, **kwargs) else '' }}">{{ name }}</a>
{% endmacro %}
