{% macro navbar_divider() %}
  <hr class="navbar-divider">
{% endmacro %}

{% macro navbar_group(name, is_right=False) %}
  <div class="navbar-item is-hoverable has-dropdown" _="on click toggle .is-active">
    <span class="navbar-link">{{ name }}</span>
    <div class="{{ html_classes('navbar-dropdown', {'is-right': is_right}) }}">{{ caller() }}</div>
  </div>
{% endmacro %}

{% macro navbar_item(name, endpoint) %}
  <a href="{{ url_for(endpoint, **kwargs) }}" class="navbar-item {{ 'is-active' if url_is_active(endpoint, **kwargs) else '' }}">{{ name }}</a>
{% endmacro %}
