{%- from 'components/navbar.html' import navbar_group, navbar_divider, navbar_item -%}
{%- from 'components/toast.html' import toast -%}
<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="htmx-config" content='{"globalViewTransitions":true}'>
    <title>Vancelle{% if title is defined %} - {{ title|join(' - ') }}{% endif %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/style.css') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="194x194" href="{{ url_for('static', filename='favicon/favicon-194x194.png') }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ url_for('static', filename='favicon/android-chrome-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
    <link rel="mask-icon" href="{{ url_for('static', filename='favicon/safari-pinned-tab.svg') }}" color="#485fc7">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <meta name="apple-mobile-web-app-title" content="Vancelle">
    <meta name="application-name" content="Vancelle">
    <meta name="msapplication-TileColor" content="#485fc7">
    <meta name="msapplication-config" content="{{ url_for('static', filename='browserconfig.xml') }}">
    <meta name="theme-color" content="#485fc7">
    <meta name="htmx-config" content='{"requestClass": "is-loading"}'>
  </head>
  <body hx-ext="loading-states">
    <nav class="navbar is-primary">
      <div class="container">
        <div class="navbar-brand">
          <a href="{{ url_for('work.home') }}" class="navbar-item has-text-weight-bold">Vancelle</a>
          <a role="button" class="navbar-burger" _="on click toggle .is-active on .navbar-menu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
        <div class="navbar-menu">
          <div class="navbar-start">
            {% call navbar_group('Works') %}
              {{ navbar_item('All', 'work.index', work_type=None) }}
              {{ navbar_divider() }}
              {% for cls in Work.iter_subclasses() %}
                {{ navbar_item(cls.info.noun_plural_title, 'work.index', work_type=cls.work_type()) }}
              {% endfor %}
            {% endcall %}
            {% call navbar_group('Add new work') %}
              {{ navbar_item('Create new work', 'work.create') }}
              {{ navbar_divider() }}
              {% for cls in Remote.filter_subclasses(can_search=True) %}
                {{ navbar_item(cls.info.noun_full, 'remote.search_source', remote_type=cls.remote_type()) }}
              {% endfor %}
            {% endcall %}
          </div>
          <div class="navbar-end">
            {% if current_user.is_authenticated %}
              {% call navbar_group(current_user.username, is_right=True) %}
                {{ navbar_item("Import/export data", "user.profile") }}
                {{ navbar_item("Manage remote data", "remote.index") }}
                {{ navbar_item("Manage cached data", "cache.index") }}
                {{ navbar_item("Logout", "user.logout") }}
              {% endcall %}
            {% else %}
              {{ navbar_item("Login", "user.login") }}
            {% endif %}
          </div>
        </div>
      </div>
    </nav>

    {% block before %}
    {% endblock before %}

    <div id="app-content" class="section">
      <div class="container block">
        {% block content %}{% endblock %}
      </div>
    </div>

    {% block after %}
    {% endblock after %}

    <aside id="app-toasts" hx-preserve="true">
      {% if not htmx %}
        {% for category, message in get_flashed_messages(with_categories=true) %}
          {{ toast(category, message|safe) }}
        {% endfor %}
      {% endif %}
    </aside>

    <footer id="app-footer" class="footer">
      <div class="content has-text-centered">
        <p>
          Created by <a href="https://borntyping.co.uk">@borntyping</a>.
          Source code at <a href="https://github.com/borntyping/vancelle">github.com/borntyping/vancelle</a>.
        </p>
        <p id="x-dependency-logos">
          <a id="bulma" href="https://bulma.io">
            <img
              src="https://bulma.io/images/made-with-bulma.png"
              alt="Made with Bulma"
              width="128"
              height="24">
          </a>
          <!-- Open Library requests a "courtesy link". https://openlibrary.org/dev/docs/api/covers -->
          <a id="openlibrary" href="https://openlibrary.org/" title="Open Library">
            <img class="x-dependency-logo" src="{{ url_for('static', filename='img/openlibrary.svg') }}" alt="Open Library" style="height: 2em !important">
          </a>
          <!-- TMDB terms of use require this notice: https://developer.themoviedb.org/docs/faq -->
          <a id="tmdb" href="https://www.themoviedb.org" title="The Movie Database">
            <img class="x-dependency-logo" src="{{ url_for('static', filename='img/tmdb.svg') }}" alt="TMDB" style="height: 2em !important">
          </a>
          <a id="steam" href="https://store.steampowered.com" title="Steam">
            <img class="x-dependency-logo" src="{{ url_for('static', filename='img/steam.svg') }}" alt="Steam" style="height: 2em !important">
          </a>
        </p>
        <!-- TMDB terms of use require this notice: https://developer.themoviedb.org/docs/faq -->
        <p class="has-text-grey">This product uses the TMDB API but is not endorsed or certified by TMDB.</p>
      </div>
    </footer>
    {% block scripts %}
      <script src="{{ url_for('static', filename='script.js') }}"></script>

      <!-- https://htmx.org/ -->
      <script src="https://unpkg.com/htmx.org@1.9.9/dist/htmx.js" crossorigin="anonymous"></script>
      <script src="https://unpkg.com/htmx.org@1.9.9/dist/ext/debug.js" crossorigin="anonymous"></script>
      <script src="https://unpkg.com/htmx.org@1.9.9/dist/ext/loading-states.js" crossorigin="anonymous"></script>

      <!-- https://hyperscript.org -->
      <script src="https://unpkg.com/hyperscript.org@0.9.12" crossorigin="anonymous"></script>

      <!-- https://ionic.io/ionicons -->
      <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js" crossorigin="anonymous"></script>
    {% endblock %}
  </body>
</html>
