{%- from 'components/navbar.html' import navbar_item -%}
{%- from 'components/toast.html' import toast -%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="htmx-config" content='{"globalViewTransitions":true}'>
    <title>Vancelle</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/style.css') }}">
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='img/favicon.svg') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}">
    <meta name="htmx-config" content='{"requestClass": "is-loading"}'>
    {% if sentry.sentry_enabled %}
      <meta name="sentry-trace" content="{{ sentry_sdk.get_traceparent() }}">
      <meta name="baggage" content="{{ sentry_sdk.get_baggage() }}">
    {% endif %}
  </head>
  <body hx-ext="loading-states">
    <nav class="navbar is-primary">
      <div class="container">
        <div class="navbar-brand">
          <a href="{{ url_for('work.home') }}" class="navbar-item has-text-weight-bold">Vancelle</a>
        </div>
        <div class="navbar-menu">
          <div class="navbar-start">
            {{ navbar_item('work.index', 'Index') }}
            {{ navbar_item('work.create', 'New') }}
          </div>
          <div class="navbar-end">
            {% if current_user.is_authenticated %}
              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">{{ current_user.username }}</a>
                <div class="navbar-dropdown is-right">
                  {{ navbar_item("user.profile", "Import/export data") }}
                  {{ navbar_item("remote.index", "Manage remote data") }}
                  {{ navbar_item("cache.index", "Manage cached data") }}
                  {{ navbar_item("user.logout", "Logout") }}
                </div>
              </div>
            {% else %}
              {{ navbar_item("user.login", "Login") }}
            {% endif %}
          </div>
        </div>
      </div>
    </nav>

    {% block before %}
    {% endblock before %}

    <div class="section">
      <div class="container block">
        {% block content %}{% endblock %}
      </div>
    </div>

    {% block after %}
    {% endblock after %}

    <footer id="app-footer" class="footer">
      <div class="content has-text-centered">
        <p>
          Created by <a href="https://borntyping.co.uk">@borntyping</a>.
          Source code at <a href="https://github.com/borntyping/vancelle">github.com/borntyping/vancelle</a>.
        </p>
        <p id="app-dependency-logos">
          <!-- Open Library requests a "courtesy link". https://openlibrary.org/dev/docs/api/covers -->
          <a href="https://openlibrary.org/" title="Open Library">
            <img src="{{ url_for('static', filename='img/openlibrary.svg') }}" alt="Open Library" style="height: 2em !important">
          </a>
          <!-- TMDB terms of use require this notice: https://developer.themoviedb.org/docs/faq -->
          <a href="https://www.themoviedb.org" title="The Movie Database">
            <img src="{{ url_for('static', filename='img/tmdb.svg') }}" alt="TMDB" style="height: 2em !important">
          </a>
          <a href="https://store.steampowered.com" title="Steam">
            <img src="{{ url_for('static', filename='img/steam.svg') }}" alt="Steam" style="height: 2em !important">
          </a>
        </p>
        <!-- TMDB terms of use require this notice: https://developer.themoviedb.org/docs/faq -->
        <p class="has-text-grey">This product uses the TMDB API but is not endorsed or certified by TMDB.</p>
      </div>
    </footer>
    <footer id="app-toasts" hx-preserve="true">
      {% if not htmx %}
        {% for category, message in get_flashed_messages(with_categories=true) %}
          {{ toast(category, message|safe) }}
        {% endfor %}
      {% endif %}
    </footer>
    {% block scripts %}
      <script src="{{ url_for('static', filename='script.js') }}"></script>

      <!-- https://htmx.org/ -->
      <script src="https://unpkg.com/htmx.org@1.9.9/dist/htmx.js" crossorigin="anonymous"></script>
      <script src="https://unpkg.com/htmx.org@1.9.9/dist/ext/debug.js" crossorigin="anonymous"></script>
      <script src="https://unpkg.com/htmx.org@1.9.9/dist/ext/loading-states.js" crossorigin="anonymous"></script>

      <!-- https://ionic.io/ionicons -->
      <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
      <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

      {% if sentry.sentry_enabled() %}
              <!-- https://sentry.io -->
        <script src="https://browser.sentry-cdn.com/7.86.0/bundle.tracing.min.js" crossorigin="anonymous"></script>
        <script>
          Sentry.init({
            spotlight: true,
            release: "{{ sentry.release() }}",
            integrations: [new Sentry.BrowserTracing({})],
            tracesSampleRate: 1.0,
          })
        </script>
      {% endif %}

      {% if sentry.spotlight_enabled() %}
        <!-- https://spotlightjs.com -->
        <script>window.process = { env: { NODE_ENV: 'development' } };</script>
        <script type="module" src="https://unpkg.com/@spotlightjs/overlay@latest/dist/sentry-spotlight.js" crossorigin="anonymous"></script>
        <script type="module">
          import * as Spotlight from 'https://unpkg.com/@spotlightjs/overlay@latest/dist/sentry-spotlight.js';
          Spotlight.init({});
        </script>
      {% endif %}
    {% endblock %}
  </body>
</html>
