{% extends 'base.html' %}

{% macro gauge(n, noun, url, background="white", text="dark") %}
  <a href="{{ url }}" class="is-block x-is-fullheight">
    <div class="box has-text-centered x-is-fullheight has-background-{{ background }} has-text-{{ text }}">
      <p class="block is-size-1">{{ n }}</p>
      <p class="block">{{ p.plural(noun, n) }}</p>
    </div>
  </a>
{% endmacro %}

{% block before %}
  <section class="hero is-medium is-primary">
    <div class="hero-body has-text-centered">
      <h1 class="title is-2">Vancelle</h1>
      <p class="subtitle is-4">Track {{ p.join(categories) }}</p>
      <a href="{{ url_for('work.index') }}" class="button is-large is-link mr-3">View works</a>
      <a href="{{ url_for('work.create') }}" class="button is-large is-link">Add work</a>
    </div>
  </section>
{% endblock %}

{% block content %}
  <section class="block">
    <div class="columns is-centered">
      <div class="column">{{ gauge(works_count, 'work', url_for('work.index', type='info', remote_type=''), text="link") }}</div>
      <div class="column">{{ gauge(remotes_count, 'remote', url_for('remote.index'), text="info") }}</div>
      <div class="column">{{ gauge(users_count, 'user', url_for("user.index")) }}</div>
    </div>
    <div class="columns is-centered is-multiline">
      {% for type, cls, count in works_count_by_type %}
        <div class="column">{{ gauge(count, cls.info.title, url_for('work.index', type=type, remote_type=''), background='white', text='link') }}</div>
      {% endfor %}
    </div>
    <div class="columns is-centered is-multiline">
      {% for remote_type, cls, count in remote_count_by_type %}
        <div class="column">{{ gauge(count, cls.info.noun_full, url_for('work.index', type='', remote_type=remote_type), background=cls.info.colour, text='%s-invert' % cls.info.colour) }}</div>
      {% endfor %}
    </div>
  </section>
{% endblock %}
