// https://bulma.io/documentation/customize/list-of-sass-variables/#initial-variables
$black: hsl(221, 14%, 4%);
$black-bis: hsl(221, 14%, 9%);
$black-ter: hsl(221, 14%, 14%);
$grey-darker: hsl(221, 14%, 21%);
$grey-dark: hsl(221, 14%, 29%);
$grey: hsl(221, 14%, 48%);
$grey-light: hsl(221, 14%, 71%);
$grey-lighter: hsl(221, 14%, 86%);
$grey-lightest: hsl(221, 14%, 93%);
$white-ter: hsl(221, 14%, 96%);
$white-bis: hsl(221, 14%, 98%);
$white: hsl(221, 14%, 100%);
$orange: hsl(14, 100%, 53%);
$yellow: hsl(42, 100%, 53%);
$green: hsl(153, 53%, 53%);
$turquoise: hsl(171, 100%, 41%);
$cyan: hsl(198, 100%, 70%);
$blue: hsl(233, 100%, 63%);
$purple: hsl(271, 100%, 71%);
$red: hsl(348, 100%, 70%);
