{% from 'components/work/small_card.html' import small_card %}

{% macro board_card(class_box_background, work, class_figure_background) %}
  {% set details = work.resolve_details() %}
  <div class="x-board-card {{class_box_background}}" title="{{ details }}">
    <div class="x-board-details p-3">
      <p class="title is-7"><a href="{{ work.url_for() }}">{{ details.title|absent }}</a></p>
      <p class="subtitle is-7 mb-1">
        <span>{{ details.author|absent }}</span>
        {% if details.release_date %}
          <span>({{ details.release_date.year }})</span>
        {% endif %}
      </p>
      {% set record = work.get_record() %}
      <p class="is-size-7">{{ record.date_started|date if record else absent }}</p>
      <p class="is-size-7">{{ record.date_stopped|date if record else absent }}</p>
    </div>
    <figure class="{{class_figure_background}}">
      {% if details.cover %}
        <img src="{{ details.cover }}" alt="" loading="lazy" referrerpolicy="no-referrer">
      {% endif %}
    </figure>
  </div>
{% endmacro %}

{% macro board_category(groups, shelf) %}
  {% set class_box_background = "has-background-{}-light".format(shelf.value) %}
  {% set class_figure_background = "has-background-{}".format(shelf.value) %}
  {% set class_column = "x-board-{}".format(shelf.column) %}
  {% set items = groups[shelf] %}

  {% if shelf.show_if_empty or items %}
    <div class="x-board-header {{class_column}} is-flex is-flex-direction-column is-justify-content-center is-align-items-center has-text-centered">
      <h3 class="title is-4">{{ shelf.title }}</h3>
      <p class="subtitle is-7">{{ shelf.description }}</p>
      <span class="block tag is-size-7 is-{{ shelf.value }}">{{ n('item', items|length) }}</span>
    </div>

    {% for item in items %}
      <div class="x-board-item {{class_column}}">
        {{ board_card(class_box_background, item, class_figure_background) }}
      </div>
    {% else %}
      <div class="{{class_column}}"></div>
    {% endfor %}
  {% endif %}
{% endmacro %}

{% macro board(shelves) %}
  <section class="block">
    <div class="x-board">
      {% for shelf in Shelf %}
        {{ board_category(shelves, shelf) }}
      {% endfor %}
    </div>
  </section>
{% endmacro %}
