{% extends "base.html" %}

{% from "components/layout.html" import header %}
{% from "components/pagination.html" import pagination %}

{% block content %}
  <section class="block">
    {{ title("Users", p.no('user', users.total)) }}
    <div class="box">
      <table class="table is-striped is-hoverable is-fullwidth x-is-fixed">
        <thead>
          <tr>
            <th>ID</th>
            <th>Username</th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
            <tr id="{{ user.id }}">
              <td><code>{{ user.id }}</code></td>
              <td>{{ user.username }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {{ pagination(users) }}
    </div>
  </section>
{% endblock %}
