{% extends 'base.html' %}

{% from 'components/layout.html' import title %}

{% macro bulma_file_input(name) %}
  <div class="file has-name is-fullwidth">
    <label class="file-label">
      <input class="file-input" type="file" name="{{ name }}">
      <span class="file-cta">
        <span class="file-icon">
          <i class="fas fa-upload"></i>
        </span>
        <span class="file-label">
          Choose a file…
        </span>
      </span>
      <span class="file-name"></span>
    </label>
  </div>
{% endmacro %}

{% block content %}
  <section class="block">
    {{ title("User profile", "@{} / {}".format(current_user.username, current_user.id)) }}
    <div class="columns">
      <div class="column">
        <div class="box">
          <h2 class="title is-5">Import data</h2>
          {% if work_count > 0 %}
            <p class="block has-text-danger">Import is disabled, you already have {{ work_count }} {{ p.plural('work', work_count) }}.</p>
          {% else %}
            <p class="block">Import from a <code>{{ filename }}</code> file.</p>
          {% endif %}
          <form action="{{ url_for('user.import') }}" method="post" enctype="multipart/form-data">
            {{ form.csrf_token }}
            <div class="field is-grouped">
              <div class="control is-expanded">
                {{ bulma_file_input(form.backup.name) }}
              </div>
              <div class="control">
                <button type="submit" class="button is-primary" {{ html_params(disabled=work_count > 0) }}>Import</button>
              </div>
            </div>
            {% if form.backup.errors %}
              <div class="field">
                {% for error in form.backup.errors %}
                  <p class="help is-danger">{{ error }}</p>
                {% endfor %}
              </div>
            {% endif %}
          </form>
        </div>
      </div>
      <div class="column">
        <div class="box">
          <h2 class="title is-5">Export data</h2>
          <p class="block">Export {{ work_count }} {{ p.plural('work', work_count) }} to a <code>{{ filename }}</code> file.</p>
          <a href="{{ url_for('user.export') }}" class="button is-primary">Export</a>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
