@import "bulma/sass/utilities/mixins";
@import "bulma/sass/elements/box";

$x-board-card-text: 3fr;
$x-board-card-cover: 2fr;

.x-board-card {
  @extend .box;
  @extend .p-0;
  @extend .m-0;

  display: grid !important;
  grid-template-columns: $x-board-card-text $x-board-card-cover;
  overflow: hidden;
  height: 100%;

  & .title,
  & .subtitle {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  & figure img {
    object-fit: cover;
    aspect-ratio: 2/3;
    height: 100%;
    width: 100%;
  }
}

.x-board {
  display: grid;
  grid-gap: 1em;

  // Add a margin around screenshots without affecting layout.
  margin: -1em;
  padding: 1em;

  // Show a dense layout when we're filtering shelves.
  &:not([data-work-shelf="all"][data-work-shelf-group="all"]) {
    grid-template-columns: repeat(6, 1fr);
    grid-auto-flow: row;
    grid-auto-rows: minmax(0, 1fr);

    .x-board-item-header:not([data-count="0"]) {
      grid-column: 1 !important;
    }
  }

  // Show a "kanban" style board layout when all shelf groups are selected
  &[data-work-shelf="all"][data-work-shelf-group="all"] {
    grid-auto-flow: column;

    @include until-widescreen {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: none;
      grid-auto-rows: minmax(0, 1fr);

      .x-board-item {
        min-width: 0;

        &[data-shelf="unsorted"],
        &[data-shelf="unreleased"],
        &[data-shelf="undecided"],
        &[data-shelf="upcoming"],
        &[data-shelf="reference"],
        &[data-shelf="abandoned"] {
          grid-column: 1;
        }

        &[data-shelf="playing"],
        &[data-shelf="replaying"],
        &[data-shelf="ongoing"],
        &[data-shelf="infinite"],
        &[data-shelf="paused"],
        &[data-shelf="shelved"],
        &[data-shelf="completed"],
        {
          grid-column: 2;
        }
      }
    }
    @include widescreen {
      grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
      grid-template-rows: none;
      grid-auto-rows: minmax(0, 1fr);

      .x-board-item {
        min-width: 0;

        &[data-shelf="unsorted"],
        &[data-shelf="unreleased"],
        &[data-shelf="undecided"] {
          grid-column: 1;
        }

        &[data-shelf="upcoming"] {
          grid-column: 2;
        }

        &[data-shelf="playing"],
        &[data-shelf="replaying"],
        &[data-shelf="ongoing"],
        &[data-shelf="infinite"] {
          grid-column: 3;

          .x-board-card {
            grid-template-columns: calc($x-board-card-text + $x-board-card-cover + $x-board-card-text) $x-board-card-cover;
          }
        }

        &[data-shelf="paused"],
        &[data-shelf="shelved"],
        &[data-shelf="reference"] {
          grid-column: 4;
        }

        &[data-shelf="completed"],
        &[data-shelf="abandoned"] {
          grid-column: 5;
        }
      }
    }
  }
}
