/**
 * Footer and logos for external dependencies.
 */

#x-dependency-logos {
    & a {
        margin-left: 0.5em;
        margin-right: 0.5em;
    }

    & img.x-dependency-logo {
        height: 2em;
    }
}
