/**
 * Small cards for showing a cover/title/subtitle and a control.
 */
.small-card {
    & .image img {
        object-fit: cover;
    }

    .title,
    .subtitle {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    /* Spacing between each block in .card-content */

    .card-content > :not(:first-child) {
        margin-top: 0.5rem;
    }
}
