@use "bulma/sass" as bulma;
@use "bulma/sass/utilities/mixins";

#x-work-index {
  @include mixins.mobile {
    .columns {
      margin-top: 0;
      margin-bottom: 0;

      .column {
        padding-bottom: 0;
      }
    }

    .columns:first-of-type .column:first-of-type {
      padding-top: 0;
    }
  }
}
