{% extends "base.html" %}

{% from "components/bulma.html" import search_field %}
{% from "components/layout.html" import header, subheader %}
{% from "components/metadata.html" import remote_panel, work_panel, resolved_work_panel %}
{% from "components/work/records.html" import library_card_panel %}
{% from "components/work/sources.html" import external_sources_panel %}

{% set details = work.resolve_details() %}
{% set title = ["Remote", details.title] %}

{% set work_details = work.into_details() %}
{% set work_remotes = work.iter_remotes()|list %}

{% macro _control_change_shelf(work, details) %}
  <form
    method="post"
    action="{{ url_for('work.shelve', work_id=work.id) }}"
    hx-post="{{ url_for('work.shelve', work_id=work.id) }}"
    hx-trigger="input changed from:find select throttle:1000ms"
    data-loading-target="#shelf-loading"
    class="control">
    {{ form.csrf_token }}
    <div class="field has-addons">
      <div class="control">
        <div id="shelf-loading" class="button is-{{ work.shelf.value }}" data-loading-class="is-loading">
          <span class="icon"><ion-icon name="book-outline"></ion-icon></span>
        </div>
      </div>
      <div class="control">
        {{ form.shelf(placeholder=work.shelf) }}
      </div>
    </div>
    <noscript>
      <div class="field">
        <div class="control">
          <button class="button" type="submit">Change shelf</button>
        </div>
      </div>
    </noscript>
  </form>
{% endmacro %}



{% block content %}
  {% set subtitle %}
    {{ work.info.noun_title }} with details from {{ p.no('remote', work.remotes|length) }}
  {% endset %}

  <section class="block">
    {% call header(details.title, subtitle) %}
      {{ _control_change_shelf(work, details) }}
    {% endcall %}

    <div class="columns x-has-fullheight-containers">
      <div class="column">
        {{ resolved_work_panel(work=work, details=details, properties=work.into_properties()) }}
      </div>
      <div class="column">{{ library_card_panel(work=work) }}</div>
    </div>
  </section>

  <section class="block">
    {% set details_subtitle %}
      Details sourced from {{ n('remote', work_remotes|length) }}
      {% if work_details %}
        and manually entered metadata
      {% endif %}
    {% endset %}

    {{ subheader('Details', details_subtitle) }}

    <div class="columns is-multiline x-has-fullheight-containers">
      {% if work_details %}
        <div class="column is-half">
          {{ work_panel(work) }}
        </div>
      {% endif %}

      {% for remote in work_remotes %}
        <div class="column is-half">
          {{ remote_panel(remote) }}
        </div>
      {% endfor %}

      <div class="column is-half">
        {{ external_sources_panel(work, details) }}
      </div>
    </div>
  </section>
{% endblock %}
