{% extends 'base.html' %}

{% macro gauge(n, plural, url, background="white", text="dark") %}
  <a href="{{ url }}" class="is-block x-is-fullheight">
    <div class="box has-text-centered x-is-fullheight has-background-{{ background }} has-text-{{ text }}">
      <p class="block is-size-1">{{ n }}</p>
      <p class="block">{{ plural }}</p>
    </div>
  </a>
{% endmacro %}

{% block before %}
  <section class="hero is-medium is-primary">
    <div class="hero-body has-text-centered">
      <h1 class="title is-2">Vancelle</h1>
      <p class="subtitle is-4">Track {{ p.join(categories) }}</p>
      <a href="{{ url_for('work.index') }}" class="button is-large is-link mr-3">View works</a>
      <a href="{{ url_for('work.create') }}" class="button is-large is-link">Add work</a>
    </div>
  </section>
{% endblock %}

{% block content %}
  <section class="block">
    <div class="columns is-centered is-multiline is-mobile">
      {% for cls, count in works_count_by_type.items() %}
        <div class="column is-half-mobile is-2-tablet">{{ gauge(count, cls.info.plural_title(count), url_for('work.index', work_type=cls.work_type(), remote_type=''), background='primary', text='primary-light') }}</div>
      {% endfor %}
    </div>
    <div class="columns is-centered is-multiline is-mobile">
      {% for cls, count in remote_count_by_type.items() %}
        <div class="column is-half-mobile is-2-tablet">{{ gauge(count, cls.info.plural_full(count), url_for('work.index', work_type='', remote_type=cls.remote_type()), background=cls.info.colour, text='%s-invert' % cls.info.colour) }}</div>
      {% endfor %}
    </div>
  </section>
{% endblock %}
