{% extends 'work/index.html' %}

{% from 'components/work/work.html' import tag_work_type, span_date %}

{% macro board_card(work, details, colour) %}
  <div class="x-board-card box p-0 m-0 has-background-{{ colour }}-light" title="{{ details }}">
    <div class="x-board-detail p-3 is-flex is-flex-direction-column is-justify-content-space-between">
      <div>
        <p class="title is-7"><a href="{{ work.url_for() }}">{{ details.title|absent }}</a></p>
        <p class="subtitle is-7 mb-3">
          <span title="{{ details.release_date|absent }}">{{ details.release_date.year if details.release_date else absent }}</span>,
          <span>{{ details.author|absent }}</span>
        </p>
      </div>
      <div>
        <p class="is-size-7">{{ span_date(work.date_first, work.date_last) }}</p>
      </div>
    </div>
    <figure class="has-background-{{ colour }}">
      {% if details.cover %}
        <img src="{{ details.cover }}" alt="" loading="lazy" referrerpolicy="no-referrer">
      {% endif %}
    </figure>
  </div>
{% endmacro %}

{% block content %}
  <section class="block">
    <div class="x-board x-board-auto" data-work-shelf="{{ work_shelf if work_shelf else 'all' }}" data-work-shelf-group="{{ work_case if work_case else 'all' }}">
      {% for shelf, items in shelves.items() %}
        {% if items or (shelf.show_if_empty or shelf in work_case.shelves|default([]) or shelf == work_shelf) %}
          <div class="x-board-item x-board-item-header is-flex is-flex-direction-column is-justify-content-center is-align-items-center has-text-centered" data-shelf="{{ shelf.value }}" data-count="{{ items|length }}">
            <h3 class="title is-4">{{ shelf.title }}</h3>
            <p class="subtitle is-7">{{ shelf.description }}</p>
            <span class="block tag is-size-7 is-{{ shelf.value }}">{{ n('item', items|length) }}</span>
          </div>

          {% for item in items %}
            {% set details = item.resolve_details() %}
            <div class="x-board-item" data-shelf="{{ shelf.value }}">
              {{ board_card(work=item, details=details, colour=shelf.value) }}
            </div>
          {% endfor %}
        {% endif %}
      {% endfor %}
    </div>
  </section>
  <br />
{% endblock %}
