{% from "components/controls.html" import control_remote_detail, control_remote_delete, control_remote_restore, control_remote_permanently_delete, control_remote_refresh, control_remote_link_work, control_remote_create_work, control_remote_priority %}
{% from "components/layout.html" import section %}
{% from "components/metadata.html" import panel_details, panel_properties %}

{%- macro section_remote(remote, show_attached_work, candidate_work=None, h1=False) -%}
  {% set controls %}
    {% if remote.deleted %}
      {{ control_remote_permanently_delete(remote=remote) }}
      {{ control_remote_restore(remote=remote) }}
    {% elif remote.work %}
      {{ control_remote_refresh(remote=remote) }}
      {{ control_remote_delete(remote=remote) }}
    {% elif candidate_work %}
      {{ control_remote_link_work(remote=remote, work=candidate_work) }}
    {% else %}
      {{ control_remote_create_work(remote=remote) }}
    {% endif %}
    {{ control_remote_detail(remote=remote) }}
    {{ control_remote_priority(remote=remote) }}
  {% endset %}
  {%- call section(title=remote.info.noun_full, subtitle=remote.id, controls=controls, h1=h1) -%}
    <div class="columns x-has-fullheight-containers">
      <div class="column">
        {% call panel_details(details=remote.into_details(), color=remote.info.color) %}
          {% if show_attached_work and remote.work %}
            {% set work_details = remote.work.resolve_details() %}
            Attached to work: <a href="{{ remote.work.url_for() }}">{{ work_details.title }}</a>.
          {% endif %}
        {% endcall %}
      </div>
      <div class="column">{{ panel_properties(remote=remote) }}</div>
    </div>
  {%- endcall -%}
{%- endmacro -%}
