{% from "components/layout.html" import section %}

{% macro section_sources(work_id=None, h1=False) %}
  {% set subclasses = searchable_remotes() %}
  {% call section('Search external sources for metadata', n('available source', subclasses|length), h1=h1) %}
    <div class="box">
      <div class="columns is-multiline is-centered">
        {% for cls in subclasses %}
          <div class="column is-4 has-text-centered">
            <a href="{{ url_for('remote.search_source', remote_type=cls.remote_type(), work_id=work_id) }}" class="button is-{{ cls.info.colour }} is-fullwidth">
              Search {{ cls.info.full_plural }}
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endcall %}
{% endmacro %}
